h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.rpd30 {
    padding:30px 30px 30px 0px;
}

.rpd10 {
    padding:10px 10px 10px 0px;
}
